.punch(@punch-size: 100px, @punch-left: 0px, @punch-top: 0px, @punch-background: none, @punch-grid: false, @punch-z-index: 0) {
  /* Stuff you may want to change */
  @punch-sizeIn: @punch-size*0.86;
  
  @punch-shadowOffset: @punch-size/20;
  @punch-shadowSize: @punch-size/20;
  @punch-bgShadowOffset: @punch-size/10;
  @punch-bgShadowSize: @punch-size/5;
  
  left: @punch-left;
  top: @punch-top;
  
  box-shadow: inset 0px @punch-shadowOffset @punch-shadowSize rgba(0,0,0,0.5);
  
  z-index: @punch-z-index;
  
  .punch-shadow;
  
  .punch-white {
    box-shadow: inset 0px -@punch-shadowOffset @punch-shadowSize rgba(255,255,255,0.3);
    
    .punch-shadow;
    
    .punch-in {
      position: absolute;
      top: (@punch-size - @punch-sizeIn)/2;
      left: (@punch-size - @punch-sizeIn)/2;
      
      width: @punch-sizeIn;
      height: @punch-sizeIn;
      
      z-index: @punch-z-index + 1;
      
      border-radius: @punch-sizeIn/2;
      
      background: @punch-background;
      .punch-grid(@punch-grid);
      
      box-shadow: inset 0px @punch-bgShadowOffset @punch-bgShadowSize rgba(0,0,0,0.8);
      
      .punch-content {
        overflow: hidden;
        border-radius: @punch-sizeIn/2;
        max-height: @punch-sizeIn;
        max-width: @punch-sizeIn;
      }
    }
  }
  
  .punch-shadow {
    position: absolute;
    
    width: @punch-size;
    height: @punch-size;
    
    border-radius: @punch-size/2;
  }
  
  .punch-grid (@punch-grid) {
    background-position: 0 0;
  }
  
  /* You can fix the background to the top/left corner of your page */
  /* This should create a cool effect if you have a grid of little punches (about 30px) */
  .punch-grid (@punch-grid) when (@punch-grid = true) {
    background-position: -@punch-left -@punch-top;
  }
}
